html {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: auto;
}

#parent-div{
    background: conic-gradient(rgb(95, 60, 250), rgb(54, 0, 250));
    box-shadow:  3px 3px 10px 1px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#title {
    text-shadow: 3px 5px 10px #000;
}

input {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #00f;
    cursor: pointer;
    font-weight: 900;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#winning-score {
    font-weight: 600;
}

#result-div {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-around;
}

.score-text {
    color: #fff;
    font-weight: 600;
    text-align: center;
}

#scores {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    color: #00f;
    display: flex;
    font-weight: 900;
    height: 40px;
    justify-content: space-between;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#human-score, #comp-score {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    font-weight: 900;
    height: 30px;
    justify-content: center;
    text-align: center;
}


#round-display {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 1px #244c9c;
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex-flow: column nowrap;
    height: 10vh;
    justify-content: center;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#options-div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 auto;
}

button {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px #244c9c;
    box-sizing: border-box;
    color: #00f;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Courier New', Courier, monospace;
    height: 40px;
    justify-content: center;
    padding: 0;
    text-align: center;
    outline: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

button:hover {
    background-color: rgb(72, 72, 223);
    box-shadow: 0 0 15px 1px #fff;
    color: #fff;
    cursor: pointer;
}

#new-game {
    width: 10em;
}


@media screen and (max-width: 320px) {
    #parent-div{
        width: 80%;
    }
    h1 {
        font-size: calc(0.5rem + 4vw);
    }
    input {
        padding-left: 10px;
        padding-right: 10px;
        width: 42px;
    }
    
    #result-div {
        width: 85%;
    }
    
    .score-text {
        width: 65px;
    }
    
    #scores {
        width: 70px;
    }
    
    #human-score, #comp-score {
        width: 30px;
    }
    
    #round-display {
        border-radius: 6px;
        width: 80%;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    #options-div {
        align-items: center;
        width: 75%;
    }
    
    #options-div button{
        font-size: 0.7em;
        font-weight: 600;
        width: 25%;
    }

    #new-game {
        width: 10em;
    }
}

@media screen and (max-width: 640px) {
    #parent-div{
        width: 60%;
    }
    #title {
        font-size: 30px;
    }
    input {
        padding-left: 10px;
        padding-right: 10px;
        width: 42px;
    }
    
    #result-div {
        width: 85%;
    }
    
    .score-text {
        width: 65px;
    }
    
    #scores {
        width: 70px;
    }
    
    #human-score, #comp-score {
        width: 30px;
    }
    
    #round-display {
        border-radius: 6px;
        width: 80%;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    #options-div {
        align-items: center;
        width: 75%;
    }
    
    #options-div button{
        font-size: 0.7em;
        font-weight: 600;
        width: 30%;
    }

    #new-game {
        width: 10em;
    }
}

@media screen and (max-width: 320px) {
    #parent-div{
        width: 80%;
    }
    h1 {
        font-size: calc(0.5rem + 4vw);
    }
    input {
        padding-left: 10px;
        padding-right: 10px;
        width: 42px;
    }
    
    #result-div {
        width: 85%;
    }
    
    .score-text {
        width: 65px;
    }
    
    #scores {
        width: 70px;
    }
    
    #human-score, #comp-score {
        width: 30px;
    }
    
    #round-display {
        border-radius: 6px;
        width: 80%;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    #options-div {
        align-items: center;
        width: 75%;
    }
    
    #options-div button{
        font-size: 0.7em;
        font-weight: 600;
        width: 30%;
    }

    #new-game {
        width: 10em;
    }
}



/* responsive design for height */

@media screen and (max-height: 600px) {
    #parent-div {
        gap: 5vh;
        height: 98vh;
        margin-bottom: 3vh;
        margin-top: 3vh;
        padding-bottom: 2vh;
        padding-top: 2vh;
    }

    #title {
        font-size: 1em;
        margin-bottom: 0.1em;
    }

    #winning-score {
        margin-top: 0.1em;
    }

    input {
        padding-bottom: 0;
        padding-top: 0;
    }

    #result-div {
        height: 30px;
    }

    #scores {
        gap: 3px;
        height: 95%;
        justify-content: center;
    }

    #comp-score, #human-score {
        height: 80%;
    }

    #round-display {
        height: 15vh;
    }

    #options-div {
        flex-flow: row nowrap;
    }

    #options-div button {
        height: 3em;
    }
    #new-game {
        font-size: 0.7em;
        height: calc(2em + 1vh);
    }
}

@media screen and (min-height: 601px) {
    #parent-div {
        gap: 5vh;
        height: 98vh;
        margin-bottom: 3vh;
        margin-top: 3vh;
        padding-bottom: 2vh;
        padding-top: 2vh;
    }

    #title {
        font-size: 1em;
        margin-bottom: 0.1em;
    }

    #winning-score {
        margin-top: 0.1em;
    }

    input {
        padding-bottom: 0;
        padding-top: 0;
    }

    #result-div {
        height: 30px;
    }

    #scores {
        gap: 3px;
        height: 95%;
        justify-content: center;
    }

    #comp-score, #human-score {
        height: 80%;
    }

    #round-display {
        height: 15vh;
    }

    #options-div {
        height: 20vh;
    }

    #options-div button {
        height: 3em;
        width: 7em;
    }
    #new-game {
        font-size: 0.7em;
        height: calc(2em + 1vh);
    }
}

@media screen and (min-height: 768px) {
    #parent-div {
        gap: 4vh;
        height: 600px;
        margin-bottom: 10vh;
        margin-top: 10vh;
        padding-bottom: 2vh;
        padding-top: 2vh;
    }

    input {
        height: 24px;
    }

    #result-div {
        height: 40px;
    }

    #round-display {
        height: 13vh;
    }

    #options-div {
        height: 16vh;
    }

    #new-game {
        font-size: 0.8em;
        height: calc(2em + 1vh);
    }
}

@media screen and (min-height: 992px) {
    #parent-div {
        gap: 3vh;
        height: 600px;
        margin-bottom: 20vh;
        margin-top: 20vh;
        padding-bottom: 2vh;
        padding-top: 2vh;
    }

    #title {
        font-size: 1em;
        margin-bottom: 0.1em;
    }

    #round-display {
        height: 12vh;
    }

    #options-div {
        height: 14vh;
    }

    button {
        font-weight: 800;
    }

    #new-game {
        font-size: 0.9em;
        height: calc(2em + 1vh);
    }

}

@media screen and ( min-height: 1200px) {
    #parent-div {
        gap: 3vh;
        height: 600px;
        margin-bottom: 30vh;
        margin-top: 30vh;
        padding-bottom: 2vh;
        padding-top: 2vh;
    }

    input {
        height: 24px;
        padding-bottom: 0;
        padding-top: 0;
    }

    #result-div {
        height: 40px;
    }

    #round-display {
        height: 10vh;
    }

    #options-div {
        height: 11vh;
    }

}
